<div class="container-fluid padding-25 sm-padding-10">

  <div class="row">

    <div class="col-md-6">

      <div class="panel panel-default">

        <div class="panel-body">

          <h5>Nouveau Client</h5>

          <%= simple_form_for @client do |f| %>

            <div class="geo">

              <div class="form-group form-group-default required ">
                <%= f.label :firstname, 'Prénom' %>
                <%= f.text_field :firstname, class:"form-control" %>
              </div>

              <div class="form-group form-group-default required ">
                <%= f.label :name, 'Nom' %>
                <%= f.text_field :name, class:"form-control" %>
              </div>

              <div class="form-group form-group-default required ">
                <%= f.label :address, 'Adresse' %>
                <%= f.text_field :address, class:"form-control", id: "geocomplete" %>
              </div>

              <div class="form-group form-group-default required ">
                <%= f.label :email, 'Email' %>
                <%= f.text_field :email, class:"form-control", id: "geocomplete" %>
              </div>

              <%= f.input :streetnumber, :as => :hidden, input_html: { data: { geo: "street_number" } }  %>
              <%= f.input :route, :as => :hidden, input_html: { data: { geo: "route" } }  %>
              <%= f.input :zipcode, :as => :hidden, input_html: { data: { geo: "postal_code" } }  %>
              <%= f.input :city, :as => :hidden, input_html: { data: { geo: "locality" } }  %>
              <%= f.input :sublocality, :as => :hidden, input_html: { data: { geo: "sublocality" } }  %>
              <%= f.input :state, :as => :hidden, input_html: { data: { geo: "state" } }  %>
              <%= f.input :address, :as => :hidden, input_html: { data: { geo: "formatted_address" } }  %>
              <%= f.input :country, :as => :hidden, input_html: { data: { geo: "country" } }  %>
              <%= f.input :countryshort, :as => :hidden, input_html: { data: { geo: "country_short" } }  %>
              <%= f.input :latitude, :as => :hidden, input_html: { data: { geo: "lat" } }  %>
              <%= f.input :longitude, :as => :hidden, input_html: { data: { geo: "lng" } }  %>
              <%= f.button :submit, "Créer", class: "btn btn-success pull-right" %>

            </div>

          <% end %>

        </div>

      </div>

    </div>

    <div class="col-md-6">
    </div>

  </div>

</div>

<% content_for :scripts do %>
  <script>
    $("#geocomplete").geocomplete({ details: ".geo", detailsAttribute: "data-geo" });
  </script>
<% end %>
