<div class="bg-pic">

  <%= image_tag("login/firstpage_#{Date.today.strftime("%U").to_i}.jpg", alt: "Login EvoluTouch", class: "lazy") %>

  <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
    <h2 class="semi-bold text-white">
    EvoluTouch, le marketing relationnel accessible à tous</h2>
    <p class="small">
      © 2016 EvoluTouch.
    </p>
  </div>

</div>

<div class="login-container bg-white">

  <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">

    <img src="<%= image_path "logo.png" %>" alt="logo" data-src="<%= image_path "logo.png" %>" data-src-retina="<%= image_path "logo_2x.png" %>" width="78" height="22">

    <p><%= render "shared/flashes" %></p>

    <p class="p-t-35">Connexion à EvoluTouch</p>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), class: "p-t-15") do |f| %>

      <div class="form-group form-group-default">
        <%= f.label :email, label: 'Login' %>
        <div class="controls">
          <%= f.input_field :email, required: true, placeholder: 'example@gmail.com', autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group form-group-default">
        <%= f.label :password, label: 'Mot de Passe' %>
        <div class="controls">
          <%= f.input_field :password, required: true, placeholder: 'password', autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 no-padding">
          <div class="checkbox ">
            <%= f.input_field :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <%= f.label :remember_me, label: 'Se souvenir de moi' %>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password ?", new_password_path(resource_name), class: "text-info small" %><br />
          <% end -%>
          <%= mail_to "contact@evolutouch.com", "Contact support", class: "text-info small" %><br />
        </div>
      </div>

      <%= f.button :submit, "C'est parti !", class: "btn btn-primary btn-cons m-t-10" %>

    <% end %>


  </div>
</div>
