<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8" />
  <title>Rails Boiler Plate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="apple-touch-icon" href="<%= image_path('ico/60.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= image_path('ico/76.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= image_path('ico/120.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path('ico/152.png') %>">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta content="" name="description" />
  <meta content="" name="author" />

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <!--[if lte IE 9]>
  <link href="/pages/css/ie9.css?v=pages-v1.0.0" rel="stylesheet" type="text/css" />
  <![endif]-->

  <script type="text/javascript">
    window.onload = function() {
      // fix for windows 8
      if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
        document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="/pages/css/windows.chrome.fix.css?v=pages-v1.0.0" />'
    }
  </script>

  <%= csrf_meta_tags %>

  <%= yield :head %>

</head>

  <body class="fixed-header">

    <%= render 'shared/sidebar' %>

    <div class="page-container">

      <%= render 'shared/header' %>

      <div class="page-content-wrapper">

          <div class="content">
          <%= render "shared/flashes" %>
          <%= yield %>
          </div>

        <%= render 'shared/footer' %>

      </div>

    </div>

    <!-- JS at bottom of page to improve load time, and only loaded once with 'data-turbolinks-eval' == false  -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false %>
    <script src="//maps.google.com/maps/api/js?v=3&key=AIzaSyALZ4qUpLmReM7jwuaBSK6J0uPCOyKrrPQ"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script type="text/javascript">
      var mapStyle = [{"featureType":"administrative.locality","elementType":"all","stylers":[{"hue":"#2c2e33"},{"saturation":7},{"lightness":19},{"visibility":"on"}]},{"featureType":"landscape","elementType":"all","stylers":[{"hue":"#ffffff"},{"saturation":-100},{"lightness":100},{"visibility":"simplified"}]},{"featureType":"poi","elementType":"all","stylers":[{"hue":"#ffffff"},{"saturation":-100},{"lightness":100},{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"hue":"#bbc0c4"},{"saturation":-93},{"lightness":31},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"hue":"#bbc0c4"},{"saturation":-93},{"lightness":31},{"visibility":"on"}]},{"featureType":"road.arterial","elementType":"labels","stylers":[{"hue":"#bbc0c4"},{"saturation":-93},{"lightness":-2},{"visibility":"simplified"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"hue":"#e9ebed"},{"saturation":-90},{"lightness":-8},{"visibility":"simplified"}]},{"featureType":"transit","elementType":"all","stylers":[{"hue":"#e9ebed"},{"saturation":10},{"lightness":69},{"visibility":"on"}]},{"featureType":"water","elementType":"all","stylers":[{"hue":"#e9ebed"},{"saturation":-78},{"lightness":67},{"visibility":"simplified"}]}];
      var handler = Gmaps.build('Google');
      handler.buildMap({
          internal: {id: 'map'},
          provider: {
            disableDefaultUI: true,
            zoom:      13,
            center:    new google.maps.LatLng(48.8292686,2.3209434),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles:    mapStyle,
            picture: {
        url: "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
        width:  36,
        height: 36
      }
          }
        },
        function(){
          markers = handler.addMarkers([
    {
      lat: 48.8292686,
      lng: 2.3209434,
      infowindow: "hello!"
    }
  ]);
        }
      );

    </script>


  </body>

</html>
